# Build files
build/
target/

# IDE files
.idea/

# Logs
*.log
*.tmp

# Executable files
*.jar
*.war
*.class

# Environment variables (optional)
.env

# Spring Boot configuration files (optional)
# application.properties
# application.yml
# application-*.properties
# application-*.yml